{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid bg-body-tertiary py-5">
        <div class="card shadow-sm" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Consultas cadastradas</h5>

                <h2 class="card-text">25</h2>

                <p class="text-muted">
                    Total de consultas
                </p>
            </div>
        </div>
        
    </div>

{% endblock %}
