{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid bg-body-tertiary py-5">
    <div class="card shadow-sm" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Consultas cadastradas</h5>

            <h2 class="card-text">
                {{ quantidade_consultas }}
            </h2>
        </div>
        <a href="{% url 'editar' consulta.id %}" class="btn btn-outline-primary">
            Editar
        </a>

    </div>



</div>

</div>

{% endblock %}